<div class="column is-4">
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <%= image_tag recipe.picture if recipe.picture.attached? %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <div class="block">
            <h2 class="title has-text-primary">
              <%= recipe.name %>
            </h2>
            <p class="subtitle has-text-grey-dark">
              <%= recipe.recipe_category.name %>
            </p>
          </div>
          <div class="block">
            <p class="subtitle is-6 has-text-dark">
              <%= recipe.description %>
            </p>
          </div>
          <div class="block">
            <h4 class="subtitle has-text-primary">Ingredients</h4>
            <div class="tags">
              <% parsed_ingredients(recipe).each do |ingredient| %>
                <%= tag.span "", class: "tag is-success" do %>
                  <%= ingredient["name"].titleize %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <footer class="card-footer">
      <%= link_to "Details", recipe, class: "button card-footer-item is-primary" %>
      <%= link_to "Edit", edit_recipe_path(recipe), class: "button card-footer-item  is-primary is-light" if policy(recipe).update? %>
      <%= button_to "Destroy", recipe, method: :delete, class: "button card-footer-item is-dark has-text-danger" if policy(recipe).destroy? %>
    </footer>
  </div>
</div>
