<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name , class: "label" %>
    <div class="control">
      <%= form.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Your Username", class: "input is-medium" %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :email, class: "label" %>
    <div class="control">
      <%= form.email_field :email, autocomplete: "email", placeholder: "Your Email", class: "input is-medium" %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :role, class: "label"  %>
    <div class="control">
      <div class="select">
        <%= form.select :role, [["Free", "free"], ["Premium", "premium"], ["Admin", "admin"]], prompt: "Choose a role" %>
      </div>
    </div>
  </div>  

  <div class="actions has-text-right">
    <%= link_to "Back to users", users_path, class: "button is-link" %>
    <%= form.submit "Update", class: "button is-primary is-outlined" %>
  </div>
<% end %>