<div class="column">
  <h3 class="title has-text-white-ter has-text-right">
    Ingredients
  </h3>
  <hr class="login-hr">
  <p class="subtitle has-text-white-ter has-text-right">
    <!-- TODO: pluralize item amount text -->
    <%= "We already have #{@ingredients.length} ingredients!" %>
  </p>
  <div class="block">
    <%= link_to "New ingredient", new_ingredient_path, class: "button is-success" %>
  </div>

  <div class="columns">
    <div class="column box">
      <table class="table is-striped is-hoverable has-text-centered is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Updated at</th>
            <th>Created at</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @ingredients.each do |ingredient| %>
            <tr>
              <td class="has-text-primary">
                <%= link_to ingredient.name, edit_ingredient_path(ingredient) %>
              </td>
              <%= tag.td ingredient.category %>
              <%= tag.td ingredient.updated_at %>
              <%= tag.td ingredient.created_at %>
              <td>
                <%= button_to "Destroy this ingredient", ingredient, method: :delete, class: "delete is-danger", data: { confirm: "Are you REALLY sure?" } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
