<div class="column is-6 is-offset-3 has-text-centered">
  <h1 class="title">
    Welcome back, <%= current_user.name %>
  </h1>
</div>

<div class="tile is-parent">
  <article class="tile is-child notification has-text-centered">
    <%= link_to "My recipes", recipes_path, class: "title has-text-primary" %>
  </article>
  <article class="tile is-child notification is-dark has-text-centered">
    <%= link_to "My inventory", inventories_path, class: "title has-text-white" %>
  </article>
</div>
<div class="tile is-parent">
  <article class="tile is-child notification is-dark">
    <div class="content">
      <p class="title has-text-primary">The Oracle</p>
      <p class="subtitle">Don't know what to cook next? Have a look at these suggestions</p>
      <div class="content">
        <%= render "oracle" %>
      </div>
    </div>
  </article>
</div>

<div class="tile is-parent">
  <article class="tile is-child notification is-white">
    <p class="title has-text-primary">Community recipes</p>
    <p class="subtitle has-text-dark">Browse recipes. Get inspired. Or not.</p>
    <div class="content">
        <%= render "latest_recipes" %>
    </div>
  </article>
</div>