<section class="hero is-primary is-fullheight">
  <div class="hero-head">
    <nav class="navbar navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="icon title">
              <i class="fas fa-pastafarianism"></i>
            </span>
            <span class="title">mogumogu</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span>
            </span>
            <span>
            </span>
            <span>
            </span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <% if user_signed_in? %>
              <span class="navbar-item">
                <a href="<%= edit_user_registration_path %>">
                  <span>Hi, <i class="fas fa-user"></i> <%= current_user.name %>
                  </span>
                </a>
              </span>
              <span class="navbar-item">
                <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'button is-dark' %>
              </span>
            <% else %>
              <span class="navbar-item">
                <a class="button is-dark" href="<%= new_user_registration_path %>">
                  <span>Sign Up
                  </span>
                </a>
              </span>
              <span class="navbar-item">
                <a class="button is-primary is-inverted is-outlined" href="<%= new_user_session_path %>">
                  <span class="icon">
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                  <span>Sign In
                  </span>
                </a>
              </span>
            <% end %>

          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <% if user_signed_in? %>
      <%= render "dashboard" %>
    <% else %>
      <%= render "landing" %>
    <% end %>
  </div>
</section>
